@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

$global-text: "Josefin Sans", sans-serif;
$fs-body: 1rem;
$fs-title: 4rem;

$fw-body: 400;
$fw-title: 300;
$fw-secondary: 600;